extends ../layout

block content
 a#volver(href="/usuarios") volver
  
  
 .card
  br
  h1 Nueva usuario
  

  form.form-group(action='/usuarios/create' method='post')
    label(for="nombre") Nombre:
    input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid':'')
    if errors.nombre
      small#nombreHelp.text-danger
        =errors.nombre.message
    <br>
    label(for="email") Email:
    input#email.form-control(type='email' name='email' value=usuario.email class=errors.email ? 'is-invalid':'')
    if errors.email
      small#emailHelp.text-danger
        =errors.email.message
    <br> 
    label(for="pwd") Password:
    input#pwd.form-control(type='password' name='password' value=usuario.password class=errors.password ? 'is-invalid':'' )
    if errors.password
      small#passwordHelp.text-danger
        =errors.password.message
    <br> 
    label(for="confirm_pwd") Confirmar Password:
    input#confirm_pwd.form-control(type='password' name='confirm_password' class=errors.confirm_password ? 'is-invalid':'')
    if errors.confirm_password
      small#confirm_passwordHelp.text-danger
        =errors.confirm_password.message
    br
    br
    button.btn.btn-primary(type='submit') OK