extends ../layout


block content
  a#volver(href="/usuarios/create") nuevo usuario 
  table.table.table-dark
    thead
      tr
        th(scope='col') #
        th(scope='col') nombre
        th(scope='col') email
        th(scope='col') verificado
        th(scope='col')
        th(scope='col')

    tbody
      each usuario in usuarios
       tr
        td(scope='row')
          = usuario.id
        td= usuario.nombre
        td= usuario.email
        td= usuario.verificado ?'SI':'NO'
        td
          a(href='usuarios/' + usuario.id + '/update') editar
        td 
          form.inline(method='post' action='usuarios/'+ usuario.id+'/delete')
            input(type='hidden' name='id' value=usuario.id)
            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-primary')
              ='Eliminar'