.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#main_map {
    height: 600px;
}
.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url(../images/bg-signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
a {
  color: #00B7FF;
}


#mapid { height: 600px;
margin-bottom: 50px;
}
.card{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 10px;

}
.body{
    padding: 50px;
    padding: 5rem;
}
#volver{
    margin-left: 20px;
    font-size: 20px;
}
.img-fluid{
    width: 100%;
    height: 600px;
}

